# 숫자 자료형

In [1]:
a = 123

In [2]:
a

123

In [3]:
a = -178
a

-178

In [4]:
a = 0
a

0

In [5]:
a = 1.2
a

1.2

In [8]:
a = -3.45
a

-3.45

In [9]:
a = 4.24E10
a

42400000000.0

In [10]:
a = 4.24E-10
a

4.24e-10

In [11]:
a = 0o177
a

127

In [14]:
a = 0x8ff
b = 0xABC
a,b

(2303, 2748)

## 사칙연산

In [16]:
a = 3
b = 4
a + b

7

In [17]:
a-b

-1

In [18]:
a*b

12

In [19]:
a/b

0.75

## 제곱 연산

In [20]:
a**b

81

## 나눗셈 나머지 연산

In [21]:
7 % 3

1

In [22]:
3 % 7

3

## 나눗셈 몫 연산

In [23]:
7 // 4

1

In [24]:
7 / 4

1.75

# 문자열 자료형

In [26]:
"Hello World"

'Hello World'

In [27]:
Hello World

SyntaxError: invalid syntax (961555472.py, line 1)

In [33]:
'hello world'

'hello world'

In [35]:
""" Hello World """

' Hello World '

In [36]:
'''
hello wordld
'''

'\nhello wordld\n'

## 문자열 안에 작은 따옴표나 큰 따옴표를 포함시키고 싶을 때
```
Python's favorite food is perl
```

In [37]:
Python's favorite food is perl

SyntaxError: unterminated string literal (detected at line 1) (2917458957.py, line 1)

In [39]:
'Python's favorite food is perl'

SyntaxError: unterminated string literal (detected at line 1) (1974562179.py, line 1)

In [41]:
"Python's favorite food is perl" #<- 같은 성격이 아닌 다른 성격으로 표시(', ")

"Python's favorite food is perl"

In [42]:
"Python is very easy." he says.

SyntaxError: invalid syntax (2498016959.py, line 1)

In [43]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [ ]:
'Python\'s favorite food is perl' # \ = 원화 표시: 게헹문자 구분(\n으로 줄 바꿈 같은거)

In [45]:
"Life is too short \n You need python"

'Life is too short \n You need python'

In [46]:
multiline = "Life is too short \n You need python"
multiline

'Life is too short \n You need python'

In [47]:
print(multiline)

Life is too short
 You need python

In [ ]:
# 개발환경에서 이루어지는 것인지? 외장 라이브러리에서 이루어지는 것인지?
# 주피터 노트북 편의기능(입력만 해도 나오던 것): IDE에서 변수만 적어도 변수 정보를 출력하는 편의기능
#실제 동작하게 하려면 print 기능을 활용해야함

In [48]:
multiline = '''
Life is too short
You need python
'''

In [49]:
multiline

'\nLife is too short\nYou need python\n'

In [50]:
print(multiline)

Life is too short
You need python

## 문자열 연산하기

In [52]:
head = "Python"
tail = " is fun!"
head + tail # 수치는 계산하고, 문자열은 연결해주는 것

'Python is fun!'

In [55]:
a = 'python'
a * 5

'pythonpythonpythonpythonpython'

---

In [59]:
a = "Life is too short"
len(a) # 값의 길이, 문자열의 길이(공백도 1로 포함됨, ""은 제외하고 L~t까지 길이를 센 것)

17

## 문자열 인덱싱

In [60]:
a = "Life is too short, You need Python"

In [61]:
len(a)

34

In [63]:
a[3] # a라는 index에서 4번째(0부터 있으므로 4번째꺼를 표시함) index를 표시해줘

'e'

In [66]:
a[13]

'h'

In [67]:
a[-1] #0부터 시작, 뒤는 -1부터 시작

'n'

In [68]:
a[-7]

' '

In [69]:
a[-0]

'L'

## 문자열 슬라이싱

In [71]:
#구간을 잘라내어 추출 !
a = "Life is too short, You need Python"

In [74]:
a[0]+a[1]+a[2]+a[3]

'Life'

In [76]:
a[start:end]

'Life'

In [80]:
a[0:3] # end: -1이 들어감 -> life를 가져오려면 4까지 지정해야함
#why? 연산때문에 그럼: 범위간 계산할 때 겹치지 않게 하기 위함

'Lif'

In [79]:
a[0:4]

'Life'

In [87]:
a[-15:] # -15부터 끝나는 곳까지 전부 다 가져와! 라는 뜻

'You need Python'

In [88]:
a[:] # start와 제약 없이 끝까지 전부 다 보여줘

'Life is too short, You need Python'

In [89]:
a[19:-7]

'You need'

## 슬라이싱으로 문자열 나누기

In [102]:
a = "20240610Sunny" # date날짜와 sunny를 구분하고 싶을 때
date = a[:8]
weather = a[8:]

In [103]:
date

'20240610'

In [104]:
weather

'Sunny'

In [105]:
year = a[:4]
day = a[4:8]
year, day, weather

('2024', '0610', 'Sunny')

## 문자열 수정하기

In [115]:
a = "pithon"
# i를 y로 바꾸고 싶을 때

In [113]:
a[1] = 'y' #문자열이라 수정할 수 없음 -> 변수를 새로 생성해야 함 !
a

TypeError: 'str' object does not support item assignment

In [116]:
a[0]+'y'+a[2:]

'python'

## 문자열 포매팅

In [119]:
#오늘의 날씨 등 동적인 데이터 보여주기
#숫자를 바로 대입
"I eat %d apples"%3
#특수기호가 들어간 것 = 게헹문자

'I eat 3 apples'

In [120]:
# 문자열 바로 대입
"I eat %s apples"%"five"

'I eat five apples'

In [121]:
"I eat %s apples"%5

'I eat 5 apples'

In [126]:
#숫자는 문자열로 인식 가능 but 오 -> 이걸 숫자로 바꿀 순 없음(컴퓨터는 이게 무슨 말인지를 모름)

In [130]:
"I eat %d apples"%"삼"

TypeError: %d format: a real number is required, not str

In [131]:
# 숫자값을 나타내는 변수로 대입(여태까진 상수)
num = 3
"I eat %d apples"%num

'I eat 3 apples'

In [132]:
# 2개 이상 값 넣기
num = 10
day = 'three'
"I ate %d apples. So I was sick for %s days."%(num,day)

'I ate 10 apples. So I was sick for three days.'

In [134]:
"I ate %d apples. So I was sick for %s days."%(day,num)
# 타입이 맞지 않음(숫자, 문자인데 문자 숫자를 주면 에러가 남)

TypeError: %d format: a real number is required, not str

In [136]:
"I have %s apples"%3

'I have 3 apples'

In [137]:
"rate is %s"%3.234

'rate is 3.234'

In [140]:
"오늘의 습도는 %d%% 입니다"%70 #%d%라고 하면 하나의 게헹문자로 이어져있음, %d%%로 %를 따로 표기한다는 것을 알려주기

'오늘의 습도는 70% 입니다'

## 소수점 표현하기

In [142]:
"%0.2f"%3.14159268 #소수점 2자리까지 보여주고, 실수다(f)

'3.14'

In [144]:
"%0.4f"%3.14159268 #자동 반올림

'3.1416'

## format 함수를 사용한 포매팅

In [145]:
"I eat {} apples".format(3) #. -> 메서드(기능): . 하고 탭 하면 나오는 기능들 
#문자열이라는 객체에!

'I eat 3 apples'

In [147]:
"I eat {} apples".format('five') # %d, %s를 구분하지 않아도 됨

'I eat five apples'

In [150]:
num = 10
"I eat {} apples".format(num)

'I eat 10 apples'

In [151]:
# 2개 이상 값 넣기
num = 10
day = 'three'
"I ate {} apples. So I was sick for {} days.".format(num,day)

'I ate 10 apples. So I was sick for three days.'

In [152]:
"I ate {} apples. So I was sick for {} days.".format(day,num) 
# <- 자료형이 지정이 되어있지 않아서 num,day순서 바꿔도 작동

'I ate three apples. So I was sick for 10 days.'

In [159]:
"I ate {num} apples. So I was sick for {day} days.".format(num=10,day=3) 
# 인자를 지정해둔 것, 뒤에 num과 day 순서를 바꿔도 작동

'I ate 10 apples. So I was sick for 3 days.'

In [160]:
"I ate {num} apples. So I was sick for {day} days.".format(day=3,num=10)

'I ate 10 apples. So I was sick for 3 days.'

In [163]:
"I ate {} apples. So I was sick for {day} days.".format(day=3,10) 
# day는 라벨이 있어서 들어감, 
#10은 라벨 지정이 안되어있어서 순서대로 들어감 = 2번째에 들어가야 하는데 이미 day 라벨이 있어서 작동 X

SyntaxError: positional argument follows keyword argument (4264613768.py, line 1)

In [164]:
"I ate {} apples. So I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

## 소수점 표현하기

In [166]:
y = 3.4213426
"{0:0.4f}".format(y)

'3.4213'

## f문자열 포매팅(강추)

In [168]:
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 나이는  {age}입니다.'

'나의 이름은 홍길동입니다. 나이는  30입니다.'

In [169]:
f'나는 내년이면 {age+1}살이 됩니다.'

'나는 내년이면 31살이 됩니다.'

In [173]:
d = {'name' : '홍길동', 'age' : 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'