# 08. 파이썬 반복문

## 131 ~ 140

In [5]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 사과\
#    귤\
#    수박

사과
귤
수박

In [7]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
# ##### 3줄

#####
#####
#####

In [14]:
#133
for 변수 in ["A", "B", "C"]:
  print(변수)

print('===')

print('A')
print('B')
print('C')

A
B
C
===
A
B
C

In [15]:
#134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

print('===')

print('출력: A')
print('출력: B')
print('출력: C')

출력: A
출력: B
출력: C
===
출력: A
출력: B
출력: C

In [16]:
#135
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

print('===')

print('변환: a')
print('변환: b')
print('변환: c')

변환: a
변환: b
변환: c
===
변환: a
변환: b
변환: c

In [19]:
#136
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

print('===')

for 변수 in ['10','20','30']:
    print(변수)

10
20
30
===
10
20
30

In [21]:
#137
print(10)
print(20)
print(30)

print('===')

for 변수 in ['10','20','30']:
    print(변수)

10
20
30
===
10
20
30

In [25]:
#138
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

print('===')

변수 = [10,20,30]
for i in 변수:
    print(i)
    print('------')

10
-------
20
-------
30
-------
===
10
------
20
------
30
------

In [28]:
#139
print("++++")
print(10)
print(20)
print(30)


변수 = [10,20,30]
print("++++")
for i in 변수:
    print(i)

++++
10
20
30
++++
10
20
30

In [32]:
#140
변수 = [1,2,3,4]
for i in 변수:
    print("-------")

print('\n')

for i in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------


-------
-------
-------
-------

## 141 ~ 150

In [5]:
#141
리스트 = [100, 200, 300]
for i in 리스트:
    print(int(i)+10)

110
210
310

In [8]:
#142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print('오늘의 메뉴:', i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [24]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

print('-----------------------------------')

for i in 리스트:
    print(i)

print('-----------------------------------')

for i in 리스트:
    print(리스트)

print('-----------------------------------')

print(i)
print(리스트)

6
4
4
-----------------------------------
SK하이닉스
삼성전자
LG전자
-----------------------------------
['SK하이닉스', '삼성전자', 'LG전자']
['SK하이닉스', '삼성전자', 'LG전자']
['SK하이닉스', '삼성전자', 'LG전자']
-----------------------------------
LG전자
['SK하이닉스', '삼성전자', 'LG전자']

In [25]:
#144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [26]:
#145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [36]:
#146
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [35]:
#147
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i} = {i*3}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [45]:
#148
리스트 = ["가", "나", "다", "라"]
for i in 리스트:
    if i == '가':
        pass
    else :
        print(i)

나
다
라

In [60]:
#149
리스트 = ["가", "나", "다", "라"]
for i in 리스트:
    if i == '나':
        pass
    elif i == '라':
        pass
    else: 
        print(i)

print('====================')

리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

가
다
====================
가
다

In [78]:
#150
리스트 = ["가", "나", "다", "라"]
리스트.reverse()

for i in 리스트:
    print(i)

라
다
나
가

## 151 ~ 160

In [82]:
#151
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0: 
        print(i)

-20
-3

In [84]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3==0:
        print(i)

3

In [91]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i <20 and i%3==0:
        print(i)

12
18

In [92]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >=3:
        print(i)

study
python
language

In [97]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [100]:
#156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower() == True:
        print(i)

b
c

In [102]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [150]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    list = i.split('.')
    print(list[0])
print('\n')
print('===========', '\n')
type(i)

hello
ex01
intro


===========

str

In [161]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    list = i.split('.')
    if list[1] == 'h':
        print(i)
        print(list)

intra.h
['intra', 'h']
define.h
['define', 'h']

In [166]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    list = i.split('.')
    if list[1] in ('h', 'c'):
        print(i)

intra.h
intra.c
define.h

## 161 ~ 170

In [168]:
#161
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [172]:
#162
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [175]:
#163
for i in range(1,31,3):
    print(i+2)

3
6
9
12
15
18
21
24
27
30

In [187]:
#164
for i in range(0,100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [188]:
#165
for i in range(0,10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [189]:
#166
for i in range(1,10):
    print(f'3x{i} = {3*i}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [190]:
#167
for i in range(1,10,2):
    print(f'3x{i} = {3*i}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [209]:
#168
result = 0
for i in range(1,11):
    result += i
    print(result)

1
3
6
10
15
21
28
36
45
55

In [210]:
#169
result = 0
for i in range(1,11,2):
    result += i
    print(result)

1
4
9
16
25

In [212]:
#170
result = 1
for i in range(1,11):
    result = result * i # result *= i 하면 같은 뜻
    print(result)

1
2
6
24
120
720
5040
40320
362880
3628800

## 171 ~ 180

In [216]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [217]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [225]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [226]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(f'1{i}0', price_list[i])

110 32150
120 32000
130 32500

In [231]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(0,3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [232]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [235]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[3-i],my_list[2-i] )

라 다
다 나
나 가

In [237]:
#178
my_list = [100, 200, 400, 800]
for i in range(3):
    print(my_list[i+1]-my_list[i])

100
200
400

In [248]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
    print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [266]:
#180
volatility = [] # 리스트 지정
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for i in range(5):
    volatility.append(high_prices[i] - low_prices[i]) #append 함수 통해서 리스트 내 값 추가(01_자료형과 변수 시트에 자세한거 있음)

print(volatility)

[50, 100, 30, 80, 0]

## 181 ~ 190

In [ ]:
#181
apart = [['101호', '102호',], [['201호', '202호'], ['301호','302호'] ]

In [ ]:
#182
stock = [['시가','100','200','300'],['종가','80','210','330']]

In [267]:
#183
stock = {'시가': ['100','200','300'], '종가': ['80','210','330'] }

In [ ]:
#184
stcok = {'10/10':['80','110','70','90'], '10/11': ['210','230','190','200'] }

In [279]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    print(i[0],'호')
    print(i[1],'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [308]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]: # [시작:끝:간격] -1은 역순이라고 함
    print(i[0],'호')
    print(i[1],'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [309]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]: # [시작:끝:간격] -1은 역순이라고 함
    print(i[1],'호')
    print(i[0],'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [311]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    print(i[0],'호')
    print('-----')
    print(i[1],'호')
    print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [312]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    print(i[0],'호')
    print(i[1],'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [314]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    print(i[0],'호')
    print(i[1],'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 191 ~ 200

In [ ]:
#191

In [ ]:
#192

In [ ]:
#193

In [ ]:
#194

In [ ]:
#195

In [ ]:
#196

In [ ]:
#197

In [ ]:
#198

In [ ]:
#199

In [ ]:
#200