# 10. 파이썬 모듈

## 241 ~ 250

In [16]:
#241
import datetime
a = datetime.datetime.now()
print(a.time())

17:09:49.889519

In [17]:
#242
type(a)

datetime.datetime

In [86]:
#243
import datetime

a = datetime.datetime.now()

for i in range(5,0,-1):
    b = datetime.timedelta(i)
    c = a - b
    print(c)

2024-06-13 17:36:07.430604
2024-06-14 17:36:07.430604
2024-06-15 17:36:07.430604
2024-06-16 17:36:07.430604
2024-06-17 17:36:07.430604

In [89]:
#244
import time
time.strftime('%X', time.localtime(time.time()))

'17:36:59'

In [97]:
#245
day = "2020-05-04"
a = datetime.datetime.strptime(day, '%Y-%m-%d')
print(type(a), a)

<class 'datetime.datetime'> 2020-05-04 00:00:00

In [1]:
#246
import time
import datetime
while True:
    i = time.strftime('%X', time.localtime(time.time()))
    print(i)
    time.sleep(1)

17:49:00
17:49:01
17:49:02
17:49:03
17:49:04
17:49:05

KeyboardInterrupt:

In [ ]:
#247
import 해서 모듈 불러오기
말곤 모르겠숩니다

In [2]:
#248
import os
os.getcwd()

'C:\\workspace\\wassup3\\01_Python_grammer'

In [13]:
#249
import os
os.rename('C:/Users/ChoiMinsoo/Desktop/2.txt', 'C:/Users/ChoiMinsoo/Desktop/1.txt')

In [25]:
#250
import numpy as np
for i in np.arange(0, 5.1, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9
5.0

# 11. 파이썬 클래스

## 251 ~ 260

In [ ]:
#251
# 클래스 안의 요소가 객체 
#객체는 클래스의 인스턴스라고 부름 !

In [154]:
#252
class Human:
    pass

In [155]:
#253
class Human:
    pass
areum = Human()

In [ ]:
#254
class Human:
    def

In [161]:
#254
class Human:
    def __init__(self): #__init__ = key, 함수 = value, print('응애응애') = 바인딩되어있는 코드
        print("응애응애")
areum = Human()

응애응애

In [173]:
#255
class Human:
    def __init__(a, full_name, age, gender):
        a.name = full_name
        a.age = age
        a.gen = gender

areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [180]:
#256
class Human:
    def __init__(a, full_name, age, gender):
        a.name = full_name
        a.age = age
        a.gen = gender

areum = Human("조아름", 25, "여자")
print('이름:', areum.name, '나이:', areum.age, '성별:', areum.gen)

이름: 조아름 나이: 25 성별: 여자

In [182]:
#257
class Human:
    def __init__(a, full_name, age, gender):
        a.name = full_name
        a.age = age
        a.gen = gender
    def who(a):
        print('이름:', areum.name, '나이:', areum.age, '성별:', areum.gen)

areum = Human("조아름", 25, "여자")
areum.who()

이름: 조아름 나이: 25 성별: 여자

In [191]:
#258
class Human:
    def __init__(a, full_name, age, gender):
        a.name = full_name
        a.age = age
        a.gen = gender
    def who(a):
        print('이름:', areum.name, '나이:', areum.age, '성별:', areum.gen)
    def setInfo(a, name,age,gen):
        a.name = name
        a.age = age
        a.gen = gen

areum = Human("모름", 0, "모름")
areum.who()
areum.setInfo("아름", 25, "여자")
areum.who()

이름: 모름 나이: 0 성별: 모름
이름: 아름 나이: 25 성별: 여자

In [192]:
#259
#258
class Human:
    def __init__(a, full_name, age, gender):
        a.name = full_name
        a.age = age
        a.gen = gender
    def who(a):
        print('이름:', areum.name, '나이:', areum.age, '성별:', areum.gen)
    def setInfo(a, name,age,gen):
        a.name = name
        a.age = age
        a.gen = gen
    def __del__(a):
        print('나의 죽음을 알리지 말라')

areum = Human("아름", 25, "여자")
del areum

나의 죽음을 알리지 말라

In [198]:
#260
class OMG : 
    def print() :
        print("Oh my god")
        
myStock = OMG() #함수 밖에서 정의를 해줘야 
OMG.print() # myStock이 아니라 정의한 OMG를 뽑아야 값이 나옴

Oh my god

## 261 ~ 270

In [199]:
#261
class Stock:
    pass

In [205]:
#262
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [215]:
#263
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
        
a = Stock(None, None)
a.set_name('삼성전자')
print(a.name)

삼성전자

In [218]:
#264
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
                
        
a = Stock(None, None)
a.set_code('005930')
print(a.code)

005930

In [219]:
#265
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
                
        
삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [222]:
#266
class Stock:
    def __init__(self,name,code,per,pbr, dy):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dy = dy
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

In [225]:
#267
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.per)
print(삼성.pbr)
print(삼성.dy)

15.79
1.33
2.83

In [235]:
#268
class Stock:
    def __init__(self,name,code,per,pbr, dy):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dy = dy
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
    def set_per(self,per):
        self.per = per
    def set_pbr(self,pbr):
        self.pbr = pbr
    def set_dy(self,dy):
        self.dy = dy
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

In [232]:
#269
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [251]:
#270
list = []
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대 = Stock('현대차', '005380',	8.70, 0.35, 4.27)
엘지 = Stock('LG전자', '066570', 317.34,0.69,1.37)
list.append(삼성)
list.append(현대)
list.append(엘지)

for i in list:
    print(i.name,i.code, i.per)
#이름은 내가 확인하려고 뽑음!

삼성전자 005930 15.79
현대차 005380 8.7
LG전자 066570 317.34

## 271 ~ 280

In [286]:
#271
import random
class Account:

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3

민수 = Account("최민수", 10000)
print(민수.ac)

348-69-765268

In [300]:
#272
import random
class Account:
    
    account_number = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
        
민수 = Account("최민수", 10000)
빠덜 = Account("최아빠", 10000)
print(민수.ac)
print(Account.account_number)

183-51-649735
2

In [304]:
#273
import random
class Account:
    
    account_number = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
    
    def get_account_num(self):
        return Account.account_number

        
민수 = Account("최민수", 10000)
빠덜 = Account("최아빠", 10000)
print(민수.ac)
print(Account.account_number)
민수.get_account_num()

766-79-832893
2

2

In [329]:
#274
import random
class Account:
    
    account_number = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
    

    def get_account_num(self):
        print(cls.account_count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money

        
민수 = Account("최민수", 10000)
빠덜 = Account("최아빠", 10000)
print(민수.ac)
민수.deposit(5000)
print(민수.balance)

514-58-815226
15000

In [347]:
#275
import random
class Account:
    
    account_number = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
    

    def get_account_num(self):
        print(Account.account_count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money
        

    def withdraw(self,money):
        if self.balance >= money:
            self.balance-= money
        

        
민수 = Account("최민수", 10000)
빠덜 = Account("최아빠", 10000)
print(민수.ac)
민수.deposit(5000)
민수.withdraw(3000)
print(민수.balance)

901-93-241551
12000

In [354]:
#276
#275
import random
class Account:
    
    account_number = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
    

    def get_account_num(self):
        print(Account.account_count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money
        

    def withdraw(self,money):
        if self.balance >= money:
            self.balance-= money
    def display_info(self):
        print('은행이름:',self.bank)
        print('예금주:',self.name)
        print('계좌번호:',self.ac)
        print('잔고:',format(self.balance,','))
        

        
민수 = Account("최민수", 10000)
빠덜 = Account("최아빠", 10000)
print(민수.ac)
민수.deposit(5000)
민수.withdraw(3000)
print(민수.balance)
민수.display_info()

129-51-269674
12000
은행이름: SC은행
예금주: 최민수
계좌번호: 129-51-269674
잔고: 12,000

In [374]:
#277

import random
class Account:
    
    account_number = 0
    
    
    def __init__(self, name, balance):
        self.deposit_number = 0
        
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
    

    def get_account_num(self):
        print(Account.account_count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money
            
            self.deposit_number += 1
            if self.deposit_number%5==0:
                self.balance =  (self.balance * 1.01)

        

    def withdraw(self,money):
        if self.balance >= money:
            self.balance-= money
    def display_info(self):
        print('은행이름:',self.bank)
        print('예금주:',self.name)
        print('계좌번호:',self.ac)
        print('잔고:',format(self.balance,'.'))
        

     
민수 = Account("최민수", 10000)
민수.deposit(1000)
민수.deposit(1000)
민수.deposit(1000)
민수.deposit(1000)
민수.deposit(1000)
print(민수.balance)
print(list)

15150.0
[<__main__.Account object at 0x0000012D09CDD690>, <__main__.Account object at 0x0000012D0931D1D0>, <__main__.Account object at 0x0000012D092642D0>]

In [ ]:
#278

import random
class Account:
    
    account_number = 0
    
    
    def __init__(self, name, balance):
        self.deposit_number = 0
        
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
    

    def get_account_num(self):
        print(Account.account_count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money
            
            self.deposit_number += 1
            if self.deposit_number%5==0:
                self.balance =  (self.balance * 1.01)

        

    def withdraw(self,money):
        if self.balance >= money:
            self.balance-= money
    def display_info(self):
        print('은행이름:',self.bank)
        print('예금주:',self.name)
        print('계좌번호:',self.ac)
        print('잔고:',format(self.balance,'.'))
        

list = []        
민수 = Account("최민수", 10000)
마덜 = Account("최아빠", 10000)
빠덜 = Account("최가아닌엄마", 10000)

list.append(민수)
list.append(마덜)
list.append(빠덜)

print(list)

In [385]:
#279

import random
class Account:
    
    account_number = 0
    
    
    def __init__(self, name, balance):
        self.deposit_number = 0
        
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
    

    def get_account_num(self):
        print(Account.account_count)

    def deposit(self, money):
        if money >= 1:
            self.balance += money
            
            self.deposit_number += 1
            if self.deposit_number%5==0:
                self.balance =  (self.balance * 1.01)

        

    def withdraw(self,money):
        if self.balance >= money:
            self.balance-= money
    def display_info(self):
        print('은행이름:',self.bank)
        print('예금주:',self.name)
        print('계좌번호:',self.ac)
        print('잔고:',self.balance)
        

list = []        
민수 = Account("최민수", 1000000)
마덜 = Account("최아빠", 100000)
빠덜 = Account("최가아닌엄마", 10000)

list.append(민수)
list.append(마덜)
list.append(빠덜)


for i in list:
    if i.balance >= 1000000:
        i.display_info()

은행이름: SC은행
예금주: 최민수
계좌번호: 160-66-426521
잔고: 1000000

In [393]:
#280

import random
class Account:
    
    account_number = 0
    
    
    def __init__(self, name, balance):
        self.deposit_number = 0
        self.deposit_details = []
        self.withdraw_details = []
        
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        
        n1 = random.randint(0,999)
        n2 = random.randint(0,99)
        n3 = random.randint(0,999999)
        
        n1 = str(n1).zfill(3)
        n2 = str(n2).zfill(2)
        n3 = str(n3).zfill(6)
        self.ac = n1+'-'+n2+'-'+n3
        Account.account_number += 1
    

    def get_account_num(self):
        print(Account.account_count)

    def deposit(self, money):
        if money >= 1:
            self.deposit_details.append(money)
            self.balance += money
            
            self.deposit_number += 1
            if self.deposit_number%5==0:
                self.balance =  (self.balance * 1.01)

        

    def withdraw(self,money):
        if self.balance >= money:
            self.withdraw_details.append(money)
            self.balance-= money
    def display_info(self):
        print('은행이름:',self.bank)
        print('예금주:',self.name)
        print('계좌번호:',self.ac)
        print('잔고:',self.balance)
    
    def deposit_history(self):
        for money in self.deposit_details:
            print('입금내역:',money)
    def withdraw_history(self):
        for money in self.withdraw_details:
            print('출금내역:',money)
        

       
민수 = Account("최민수", 1000000)
민수.deposit(1000)
민수.deposit(2000)
민수.deposit_history()
민수.withdraw(100)
민수.withdraw(200)
민수.withdraw_history()

입금내역: 1000
입금내역: 2000
출금내역: 100
출금내역: 200

## 281 ~ 290

In [401]:
#281
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

In [403]:
car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [404]:
#282
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
class 자전차(차):
    pass

In [406]:
#283
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
class 자전차(차):
    pass

In [408]:
bicycle = 자전차(2, 100)
print(bicycle.가격)

100

In [409]:
#284
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.구동계

'시마노'

In [412]:
#285
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def 정보(self):
        print('바퀴수',self.바퀴)
        print('가격', self.가격)
class 자동차(차):
    pass

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [415]:
#286
class 차:
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계
    def 정보(self):
        print('바퀴수',self.바퀴)
        print('가격', self.가격)
class 자전차(차):
    pass

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

In [416]:
#287
class 차:
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계
    def 정보(self):
        print('바퀴수',self.바퀴)
        print('가격', self.가격)
        print('구동계', self.구동계)
class 자전차(차):
    pass

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

# 12. 파일 입출력과 예외처리

## 291 ~ 300

In [41]:
#291
f = open('C:/Users/Choiminsoo/Desktop/매수종목1.txt', 'w')
a = ['005930','005380','035420']
for i in a:
    j = f'{i} \n'
    print(j)
    f.write(j)

f.close()

005930

005380

035420

In [59]:
#292
f = open('C:/Users/Choiminsoo/Desktop/매수종목2.txt', 'w')
a = ['005930','005380','035420']
b = ['삼성전자','현대차','NAVER']
c = {'005930':'삼성전자', '005380':'현대차','035420':'NAVER'}

for i in c:
    j = f'{i}'
    k = f'{i} \n'
    print(k)
    f.write(k)

f.close()

005930

005380

035420

In [77]:
#292_답
f = open("C:/Users/Choiminsoo/Desktop/매수종목2.txt", mode="w",encoding='cp949')
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [78]:
#293
import csv
f = open("C:/Users/Choiminsoo/Desktop/매수종목.csv",'w',newline='')
data = [['종목명','종목코드','PER'],['삼성전자','005930','15.79'],['NAVER','035420','55.82']]
writer = csv.writer(f)
writer.writerow(['종목명','종목코드','PER'])
writer.writerow(['삼성전자','005930','15.79'])
writer.writerow(['NAVER','035420','55.82'])

f.close()

In [99]:
#294
f = open('C:/Users/Choiminsoo/Desktop/매수종목1.txt', 'r')
lines = f.readlines()
lists = []
for line in lines:
    list = line.strip()
    lists.append(list)
print(lists)
f.close()

['005930', '005380', '035420']

In [102]:
#295
f = open('C:/Users/Choiminsoo/Desktop/매수종목2.txt', 'r')
lines = f.readlines()
dics = {}
for line in lines:
    dic = line.strip()
    a,b = dic.split()
    dics[a] = b
print(dics)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [104]:
#296
per = ["10.31", "", "8.00"]
for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [121]:
#297
per = ["10.31","","8.00"]
list = []
for i in per:
    try: 
        j = float(i)
    except: 
        j = 0
    list.append(j)
print(list)

[10.31, 0, 8.0]

In [124]:
#298
try : 
    4/0
except ZeroDivisionError:
    print('바보')

바보

In [134]:
#299
data = [1, 2, 3]
for i in range(5):
    print(data[i])

1
2
3

IndexError: list index out of range

In [135]:
data = [1, 2, 3]
for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [136]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    print(float(per))

TypeError: float() argument must be a string or a real number, not 'list'

In [153]:
per = ["10.31","","8.00"]

for i in per:
    try: 
        print(float(i))
    except: 
        print(0)
    else: 
        print('-')
    finally: 
        print('finish')

# 솔직히 뭔말인지 하나도 모르곘음..

10.31
-
finish
0
finish
8.0
-
finish